.container-cards{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cards .card-white {
  display: flex;
  flex-direction: column;
  width: 200px;
  text-shadow: 1px 1px 3px rgb(0 0 0 / 20%);
  border-radius: 6px;
  box-shadow: 0 0 15px rgb(0 0 0 / 20%);
  margin: 0 40px;
  padding: 16px;
}

.cards .card-white img {
  object-fit: cover;
  height: 100px;
}
